# Im sharing real url due to this being not that serious / secret of an API. For ease of launching the App.
EXPO_PUBLIC_QUIZ_API_URL=https://rn-test-task.web.app/questions.json
EXPO_PUBLIC_DEBUG_WIPE_DATA_BUTTON=false
EXPO_PUBLIC_DEBUG_SKIP_QUIZ_TO_SUMMARY=false